In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
ada_df = pd.read_csv(Path('../resources/coin_Cardano.csv'), index_col='SNo')
ada_df

,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
SNo,,,,,,,,,
1,Cardano,ADA,2017-10-02 23:59:59,0.030088,0.019969,0.024607,0.025932,5.764130e+07,6.288991e+08
2,Cardano,ADA,2017-10-03 23:59:59,0.027425,0.020690,0.025757,0.020816,1.699780e+07,5.396927e+08
3,Cardano,ADA,2017-10-04 23:59:59,0.022806,0.020864,0.020864,0.021931,9.000050e+06,5.686195e+08
4,Cardano,ADA,2017-10-05 23:59:59,0.022154,0.020859,0.021951,0.021489,5.562510e+06,5.571390e+08
5,Cardano,ADA,2017-10-06 23:59:59,0.021542,0.018360,0.021359,0.018539,7.780710e+06,4.806646e+08
...,...,...,...,...,...,...,...,...,...
1241,Cardano,ADA,2021-02-23 23:59:59,1.133705,0.824145,1.098769,0.954709,1.120190e+10,2.970337e+10
1242,Cardano,ADA,2021-02-24 23:59:59,1.074832,0.902583,0.954958,1.051657,8.481335e+09,3.271965e+10
1243,Cardano,ADA,2021-02-25 23:59:59,1.172732,1.017986,1.051349,1.079116,8.248286e+09,3.357399e+10
1244,Cardano,ADA,2021-02-26 23:59:59,1.290047,0.995150,1.080828,1.241105,1.488414e+10,3.861387e+10
1245,Cardano,ADA,2021-02-27 23:59:59,1.476653,1.234138,1.242145,1.324860,1.914198e+10,4.121970e+10

In [3]:
ada_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1245 entries, 1 to 1245
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       1245 non-null   object
 1   Symbol     1245 non-null   object
 2   Date       1245 non-null   object
 3   High       1245 non-null   float64
 4   Low        1245 non-null   float64
 5   Open       1245 non-null   float64
 6   Close      1245 non-null   float64
 7   Volume     1245 non-null   float64
 8   Marketcap  1245 non-null   float64
dtypes: float64(6), object(3)
memory usage: 97.3+ KB

In [4]:
ada_df['Date'] = pd.to_datetime(ada_df['Date'])
ada_df.dtypes

Name                 object
Symbol               object
Date         datetime64[ns]
High                float64
Low                 float64
Open                float64
Close               float64
Volume              float64
Marketcap           float64
dtype: object