In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
atom_df = pd.read_csv(Path('../resources/coin_Cosmos.csv'), index_col='SNo')
atom_df

,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
SNo,,,,,,,,,
1,Cosmos,ATOM,2019-03-15 23:59:59,7.715249,6.432468,6.633174,7.504351,6.057301e+06,0.000000e+00
2,Cosmos,ATOM,2019-03-16 23:59:59,8.305615,6.694531,7.507990,7.383882,3.477393e+06,0.000000e+00
3,Cosmos,ATOM,2019-03-17 23:59:59,7.357443,4.727895,7.357443,4.776164,2.653565e+06,0.000000e+00
4,Cosmos,ATOM,2019-03-18 23:59:59,5.229982,4.828242,4.828242,5.110341,2.567201e+06,0.000000e+00
5,Cosmos,ATOM,2019-03-19 23:59:59,5.206172,4.794501,5.099978,4.821883,3.891084e+06,0.000000e+00
...,...,...,...,...,...,...,...,...,...
712,Cosmos,ATOM,2021-02-23 23:59:59,23.289343,15.367366,21.254798,20.128941,2.172119e+09,4.243806e+09
713,Cosmos,ATOM,2021-02-24 23:59:59,21.251337,18.801083,20.144575,19.499604,1.094986e+09,4.112144e+09
714,Cosmos,ATOM,2021-02-25 23:59:59,20.464055,17.671458,19.497597,17.763396,8.089071e+08,3.746936e+09
715,Cosmos,ATOM,2021-02-26 23:59:59,18.880771,16.196148,17.802751,18.815697,1.002591e+09,3.969888e+09
716,Cosmos,ATOM,2021-02-27 23:59:59,20.525643,18.286985,18.824638,19.170726,7.656929e+08,4.045797e+09

In [3]:
atom_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 716 entries, 1 to 716
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       716 non-null    object
 1   Symbol     716 non-null    object
 2   Date       716 non-null    object
 3   High       716 non-null    float64
 4   Low        716 non-null    float64
 5   Open       716 non-null    float64
 6   Close      716 non-null    float64
 7   Volume     716 non-null    float64
 8   Marketcap  716 non-null    float64
dtypes: float64(6), object(3)
memory usage: 55.9+ KB

In [4]:
atom_df['Date'] = pd.to_datetime(atom_df['Date']).dt.date
atom_df.dtypes

Name          object
Symbol        object
Date          object
High         float64
Low          float64
Open         float64
Close        float64
Volume       float64
Marketcap    float64
dtype: object

In [5]:
atom_df['DeFi'] = 'no'
atom_df['Network_EcoSys'] = 'binance'
atom_df['Consensus_Algo'] = 'none'
atom_df['Staking'] = 'yes'
atom_df

,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap,DeFi,Network_EcoSys,Consensus_Algo,Staking
SNo,,,,,,,,,,,,,
1,Cosmos,ATOM,2019-03-15,7.715249,6.432468,6.633174,7.504351,6.057301e+06,0.000000e+00,no,binance,none,yes
2,Cosmos,ATOM,2019-03-16,8.305615,6.694531,7.507990,7.383882,3.477393e+06,0.000000e+00,no,binance,none,yes
3,Cosmos,ATOM,2019-03-17,7.357443,4.727895,7.357443,4.776164,2.653565e+06,0.000000e+00,no,binance,none,yes
4,Cosmos,ATOM,2019-03-18,5.229982,4.828242,4.828242,5.110341,2.567201e+06,0.000000e+00,no,binance,none,yes
5,Cosmos,ATOM,2019-03-19,5.206172,4.794501,5.099978,4.821883,3.891084e+06,0.000000e+00,no,binance,none,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,Cosmos,ATOM,2021-02-23,23.289343,15.367366,21.254798,20.128941,2.172119e+09,4.243806e+09,no,binance,none,yes
713,Cosmos,ATOM,2021-02-24,21.251337,18.801083,20.144575,19.499604,1.094986e+09,4.112144e+09,no,binance,none,yes
714,Cosmos,ATOM,2021-02-25,20.464055,17.671458,19.497597,17.763396,8.089071e+08,3.746936e+09,no,binance,none,yes
715,Cosmos,ATOM,2021-02-26,18.880771,16.196148,17.802751,18.815697,1.002591e+09,3.969888e+09,no,binance,none,yes
716,Cosmos,ATOM,2021-02-27,20.525643,18.286985,18.824638,19.170726,7.656929e+08,4.045797e+09,no,binance,none,yes