In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
eos_df = pd.read_csv(Path('../resources/coin_EOS.csv'), index_col='SNo')
eos_df

,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
SNo,,,,,,,,,
1,EOS,EOS,2017-07-02 23:59:59,2.877510,0.822648,0.996521,2.710050,3.204520e+08,0.000000e+00
2,EOS,EOS,2017-07-03 23:59:59,5.395970,2.632310,2.717390,4.086640,4.149500e+08,6.549307e+08
3,EOS,EOS,2017-07-04 23:59:59,4.191240,2.933450,4.098010,3.372000,2.185590e+08,5.501552e+08
4,EOS,EOS,2017-07-05 23:59:59,3.523500,2.730130,3.356000,3.003230,1.243390e+08,5.006264e+08
5,EOS,EOS,2017-07-06 23:59:59,3.867470,3.007830,3.014260,3.361330,1.774630e+08,5.683615e+08
...,...,...,...,...,...,...,...,...,...
1333,EOS,EOS,2021-02-23 23:59:59,4.705856,3.239567,4.705856,3.836130,6.395663e+09,3.647385e+09
1334,EOS,EOS,2021-02-24 23:59:59,4.129780,3.698122,3.838417,3.901178,3.766364e+09,3.709345e+09
1335,EOS,EOS,2021-02-25 23:59:59,4.092918,3.646569,3.900563,3.655080,2.959237e+09,3.475449e+09
1336,EOS,EOS,2021-02-26 23:59:59,3.764833,3.433565,3.660075,3.554774,3.030625e+09,3.380172e+09
1337,EOS,EOS,2021-02-27 23:59:59,3.835616,3.554272,3.555251,3.674207,2.273095e+09,3.493843e+09

In [3]:
eos_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1337 entries, 1 to 1337
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       1337 non-null   object
 1   Symbol     1337 non-null   object
 2   Date       1337 non-null   object
 3   High       1337 non-null   float64
 4   Low        1337 non-null   float64
 5   Open       1337 non-null   float64
 6   Close      1337 non-null   float64
 7   Volume     1337 non-null   float64
 8   Marketcap  1337 non-null   float64
dtypes: float64(6), object(3)
memory usage: 104.5+ KB

In [4]:
eos_df['Date'] = pd.to_datetime(eos_df['Date']).dt.date
eos_df.dtypes

Name          object
Symbol        object
Date          object
High         float64
Low          float64
Open         float64
Close        float64
Volume       float64
Marketcap    float64
dtype: object

In [5]:
eos_df['DeFi'] = 'no'
eos_df['Network_EcoSys'] = 'binance'
eos_df['Consensus_Algo'] = 'none'
eos_df['Staking'] = 'no'
eos_df

,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap,DeFi,Network_EcoSys,Consensus_Algo,Staking
SNo,,,,,,,,,,,,,
1,EOS,EOS,2017-07-02,2.877510,0.822648,0.996521,2.710050,3.204520e+08,0.000000e+00,no,binance,none,no
2,EOS,EOS,2017-07-03,5.395970,2.632310,2.717390,4.086640,4.149500e+08,6.549307e+08,no,binance,none,no
3,EOS,EOS,2017-07-04,4.191240,2.933450,4.098010,3.372000,2.185590e+08,5.501552e+08,no,binance,none,no
4,EOS,EOS,2017-07-05,3.523500,2.730130,3.356000,3.003230,1.243390e+08,5.006264e+08,no,binance,none,no
5,EOS,EOS,2017-07-06,3.867470,3.007830,3.014260,3.361330,1.774630e+08,5.683615e+08,no,binance,none,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,EOS,EOS,2021-02-23,4.705856,3.239567,4.705856,3.836130,6.395663e+09,3.647385e+09,no,binance,none,no
1334,EOS,EOS,2021-02-24,4.129780,3.698122,3.838417,3.901178,3.766364e+09,3.709345e+09,no,binance,none,no
1335,EOS,EOS,2021-02-25,4.092918,3.646569,3.900563,3.655080,2.959237e+09,3.475449e+09,no,binance,none,no
1336,EOS,EOS,2021-02-26,3.764833,3.433565,3.660075,3.554774,3.030625e+09,3.380172e+09,no,binance,none,no
1337,EOS,EOS,2021-02-27,3.835616,3.554272,3.555251,3.674207,2.273095e+09,3.493843e+09,no,binance,none,no