In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
eth_df = pd.read_csv(Path('../resources/coin_Ethereum.csv'), index_col='SNo')
eth_df

,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
SNo,,,,,,,,,
1,Ethereum,ETH,2015-08-08 23:59:59,2.798810,0.714725,2.793760,0.753325,6.741880e+05,4.548689e+07
2,Ethereum,ETH,2015-08-09 23:59:59,0.879810,0.629191,0.706136,0.701897,5.321700e+05,4.239957e+07
3,Ethereum,ETH,2015-08-10 23:59:59,0.729854,0.636546,0.713989,0.708448,4.052830e+05,4.281836e+07
4,Ethereum,ETH,2015-08-11 23:59:59,1.131410,0.663235,0.708087,1.067860,1.463100e+06,6.456929e+07
5,Ethereum,ETH,2015-08-12 23:59:59,1.289940,0.883608,1.058750,1.217440,2.150620e+06,7.364501e+07
...,...,...,...,...,...,...,...,...,...
2027,Ethereum,ETH,2021-02-23 23:59:59,1781.409018,1378.840907,1781.409018,1570.203925,5.202986e+10,1.802510e+11
2028,Ethereum,ETH,2021-02-24 23:59:59,1710.983795,1511.018963,1571.476497,1626.575705,3.132900e+10,1.867440e+11
2029,Ethereum,ETH,2021-02-25 23:59:59,1670.224062,1465.058946,1625.393882,1475.703735,2.448168e+10,1.694427e+11
2030,Ethereum,ETH,2021-02-26 23:59:59,1559.028891,1407.979253,1478.653270,1446.033650,3.143600e+10,1.660555e+11
2031,Ethereum,ETH,2021-02-27 23:59:59,1524.932428,1433.786929,1446.929455,1459.973121,2.074210e+10,1.676759e+11

In [3]:
eth_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2031 entries, 1 to 2031
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       2031 non-null   object
 1   Symbol     2031 non-null   object
 2   Date       2031 non-null   object
 3   High       2031 non-null   float64
 4   Low        2031 non-null   float64
 5   Open       2031 non-null   float64
 6   Close      2031 non-null   float64
 7   Volume     2031 non-null   float64
 8   Marketcap  2031 non-null   float64
dtypes: float64(6), object(3)
memory usage: 158.7+ KB

In [4]:
eth_df['Date'] = pd.to_datetime(eth_df['Date'])
eth_df.dtypes

Name                 object
Symbol               object
Date         datetime64[ns]
High                float64
Low                 float64
Open                float64
Close               float64
Volume              float64
Marketcap           float64
dtype: object