In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
dot_df = pd.read_csv(Path('../resources/coin_Polkadot.csv'), index_col='SNo')
dot_df

,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
SNo,,,,,,,,,
1,Polkadot,DOT,2020-08-21 23:59:59,3.090093,2.730919,2.896923,2.875028,4.931314e+07,0.000000e+00
2,Polkadot,DOT,2020-08-22 23:59:59,4.510613,2.816762,2.878570,4.484690,4.858011e+08,0.000000e+00
3,Polkadot,DOT,2020-08-23 23:59:59,4.487058,3.716271,4.487058,3.967066,3.207495e+08,0.000000e+00
4,Polkadot,DOT,2020-08-24 23:59:59,4.783158,3.812670,3.987413,4.602614,4.076902e+08,0.000000e+00
5,Polkadot,DOT,2020-08-25 23:59:59,5.760775,4.501223,4.584953,5.523393,8.988475e+08,0.000000e+00
...,...,...,...,...,...,...,...,...,...
187,Polkadot,DOT,2021-02-23 23:59:59,37.714168,26.757643,37.664930,34.300774,7.502138e+09,3.129232e+10
188,Polkadot,DOT,2021-02-24 23:59:59,36.752569,31.975445,34.330861,33.633546,4.724242e+09,3.070688e+10
189,Polkadot,DOT,2021-02-25 23:59:59,35.079181,31.059273,33.621172,31.080660,3.470267e+09,2.838641e+10
190,Polkadot,DOT,2021-02-26 23:59:59,33.497752,28.104011,31.143730,31.346090,5.147314e+09,2.863586e+10
191,Polkadot,DOT,2021-02-27 23:59:59,35.524110,31.396252,31.396252,33.449366,4.507279e+09,3.056786e+10

In [3]:
dot_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191 entries, 1 to 191
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       191 non-null    object
 1   Symbol     191 non-null    object
 2   Date       191 non-null    object
 3   High       191 non-null    float64
 4   Low        191 non-null    float64
 5   Open       191 non-null    float64
 6   Close      191 non-null    float64
 7   Volume     191 non-null    float64
 8   Marketcap  191 non-null    float64
dtypes: float64(6), object(3)
memory usage: 14.9+ KB

In [4]:
dot_df['Date'] = pd.to_datetime(dot_df['Date'])
dot_df.dtypes

Name                 object
Symbol               object
Date         datetime64[ns]
High                float64
Low                 float64
Open                float64
Close               float64
Volume              float64
Marketcap           float64
dtype: object