In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
uni_df = pd.read_csv(Path('../resources/coin_Uniswap.csv'), index_col='SNo')
uni_df

,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
SNo,,,,,,,,,
1,Uniswap,UNI,2020-09-18 23:59:59,8.438537,3.261757,3.488153,6.897257,6.061110e+09,6.681116e+08
2,Uniswap,UNI,2020-09-19 23:59:59,7.443275,5.321795,6.945577,5.724464,2.447471e+09,5.545076e+08
3,Uniswap,UNI,2020-09-20 23:59:59,6.050326,4.720210,5.720515,5.244195,1.554144e+09,5.079857e+08
4,Uniswap,UNI,2020-09-21 23:59:59,5.622155,4.160743,5.244195,4.266079,1.329464e+09,4.132392e+08
5,Uniswap,UNI,2020-09-22 23:59:59,4.554092,3.755040,4.275014,3.905138,8.162827e+08,3.782762e+08
...,...,...,...,...,...,...,...,...,...
159,Uniswap,UNI,2021-02-23 23:59:59,27.743926,18.534552,27.708213,24.576645,2.670108e+09,7.411839e+09
160,Uniswap,UNI,2021-02-24 23:59:59,27.289320,23.152845,24.651880,25.255146,1.423106e+09,7.617272e+09
161,Uniswap,UNI,2021-02-25 23:59:59,26.837709,23.271170,25.245552,23.271170,9.841518e+08,7.018880e+09
162,Uniswap,UNI,2021-02-26 23:59:59,25.121830,21.105400,23.416305,23.074512,1.101821e+09,6.960566e+09
163,Uniswap,UNI,2021-02-27 23:59:59,24.727901,22.436401,23.098991,23.454720,7.617966e+08,7.310012e+09

In [3]:
uni_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 163 entries, 1 to 163
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       163 non-null    object
 1   Symbol     163 non-null    object
 2   Date       163 non-null    object
 3   High       163 non-null    float64
 4   Low        163 non-null    float64
 5   Open       163 non-null    float64
 6   Close      163 non-null    float64
 7   Volume     163 non-null    float64
 8   Marketcap  163 non-null    float64
dtypes: float64(6), object(3)
memory usage: 12.7+ KB

In [4]:
uni_df['Date'] = pd.to_datetime(uni_df['Date'])
uni_df.dtypes

Name                 object
Symbol               object
Date         datetime64[ns]
High                float64
Low                 float64
Open                float64
Close               float64
Volume              float64
Marketcap           float64
dtype: object